.main-container{
   display:flex;
   padding:1rem;
}
.menu-container{
   width:20%;
   border-right:1px solid rgb(224, 202, 202);
}
.tweet-body-container{
   
    width:45%;
}
.trending-container{
   width:30%;
   border-left:1px solid rgb(224, 202, 202);
}
