.container{
   margin: 20px 20px;
}

.container input{
    width: 100%;
    display: block;
    border-radius: 30px;
    padding: 15px 30px;
    outline: none;
    border: none;
    background-color: #fefe;

}

.trend{
    width: 100%;
    font-weight: 600;
    font-size:20px;
    padding:5px 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: 5px 5px 50px rgba(151, 147, 147, 0.2);
    
}

.search-icon{
    position:absolute;
    top: 50px;
    margin-left: 10px;
    
}

.search-item{
    font-size: 18px;
}

